.category-list {
  .category-image {
    width: 100%;
    margin-bottom: 10px;
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
  .col-md-4 {
    margin-bottom: 2rem;
  }
}

.categories-section {
  .col-md-9 {
    padding: 0px;
  }
}

.collections {
  .card {
    margin-top: 2rem;
    border-radius: 8px;
    border: 0px;
    width: 100%;
    height: 352px;
    overflow: hidden;
    box-shadow: #e6e6e6 0px 1px 18px 1px;
    .card-img-top {
      height: 174px;
      width: 100%;
      // padding: 15px;
      & > div {
        height: 9rem;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .card-bottom {
    }
  }
}

.category-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  li {
    flex-basis: 20%;
  }
}

ul {
  padding: 0px;
  li {
    list-style: none;
    a {
      color: #7a7d85;
      &:hover {
        text-decoration: underline;
        color: #7a7d85;
      }
    }
  }
}

.parent-cateogory-title {
  margin: 1rem 0rem;
}

.category-header {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 15px;
}

.category-side-list {
  margin-bottom: 15px;
}

.pagination-button {
  text-align: right;
}
