.chat-feed {
  height: calc(100vh - 300px);
  width: 100%;
}

.chat-title-container {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
}

.chat-title {
  color: #7554a0;
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: #7554a0;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-form-container {
  position: relative;
  bottom: 0px;
  width: calc(100%);
  padding: 18px;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
}

.chat-body {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-form {
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #b4b3d7;
  background-color: white;
  position: relative;
}

.message-input {
  height: 60px;
  width: calc(100% - 130px);
  background-color: white;
  border: 1px solid white;
  padding: 8px 12px;
  outline: none;
  font-size: 15px;
  resize: none;
}

.message-row {
  float: left;
  width: 100%;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  /* width: 30vw; */
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.chat-left {
  float: left;
  background-color: #4644d4;
  color: white;
  word-break: break-word;
}

.chat-right {
  float: right;
  margin-right: 22px;
  color: white;
  background-color: rgb(59, 42, 80);
  word-break: break-word;
}

.chat-left , .chat-right{
  a{
    color: white;
    text-decoration: underline;
    &:hover{
      color: white;
    }
  }
}

.connect,
.toggle {
  margin-right: 10px;
}

textarea {
  white-space: nowrap;
  height: 28px;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
}

textarea.message-input {
  white-space: normal;
}

.attachment-btn{
  width: 30px;
  margin-top: 1rem;
  cursor: pointer;
  height: 25px;
  input{
    width: 30px;
    position: absolute;
    right: 104px;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
    font-size: 0;
    height: 25px;
  }
}

.send-msg-button {
  width: 100px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  background: #3a2a50;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
}
