.collections{
    margin-bottom: 3rem;
    .card{
        min-height: 450px;
        max-height: 450px;
        overflow: hidden;
        box-shadow: #1c1c2840 0px 0.5rem 1rem, #1c1c2833 0px 0px 0.125rem;
            // transform: scale(1.03)
    }
    .card-title{
        display: block;
        display: -webkit-box;
        max-width: 100%;
        min-height: 41px;
        max-height: 41px;
        line-height: 1;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $primaryColor;
        font-weight: $fontWeight700;
    }
    .card-text{
        display: block;
        display: -webkit-box;
        max-width: 100%;
        min-height: 70px;
        max-height: 70px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $secondaryColor;
    }
}

.collections-list{
    padding: 0px 15px;
    .collections-content{
        margin-top: 1rem;
    }
    .collection-title{
        color:$primaryColor;
        font-weight: $fontWeight700;
        margin-bottom: 2rem;
    }
}

.collections-seller{
    .collections{
        margin:0rem;
    }
    .card{
        margin: 1rem 0rem;
    }
}