
.profile-section{
    text-align: center;
    h5{
        color: $primaryColor;
        font-weight: $fontWeight700;
        word-break: break-all;
    }
    p{
        word-break: break-all;
        color: $secondaryColor;
    }
}
.user-image{
    height: 10rem;
    img{
        height: inherit;
        border-radius: 10%;
    }
    margin-bottom: 1rem;
}

.customer-list{
    min-height: 50rem;
    .spinner-border{
        margin-top: 30%;
        margin-left: 50%;
    }
}

.top-profile-section , .low-profile-section{
    border: 1px solid #cccccc;
    padding: 2rem 0rem;
}

.low-profile-section{
    margin-top: 3rem;
    h5{
        color: $primaryColor;
        font-weight: $fontWeight700;
    }
    .description-text{
        color: $secondaryColor;
        margin-top: 1rem;
    }
    .badge.badge-pill{
        margin-right: 0.3rem;
        background-color: $faceColor1;
        color: $whiteColor;
        padding: 10px 20px;
        margin-bottom: 0.5rem;
    }
}

.collections-seller{
    h1{
        color: $primaryColor;
        font-weight: $fontWeight700;
        text-transform: capitalize;
    }
}

.seller-demograph{
    [class*='col-'] {
        margin-top: 1rem;
    }
}