.Footer{
    ul{
        list-style: none;
        li{
            margin-bottom: 1rem;
            a{
                color: $footerFontColor;
                &:hover{
                    color:$footerLinkHover;
                    text-decoration: none;
                }
            }
        }
    }
    h6{
        font-weight: $fontWeight700;
    }
    .container{
        align-items: flex-start;
    }
    .footer-top-section{
        border-bottom: 1px solid #cccccc;
    }
    h6{
        margin-bottom: 1.5rem;
    }
    
}
.footer-bottom-section{
    padding: 0.4rem 0;
}

.footer-outer{
    background-color: $footerBgColor;
    color: $footerFontColor;
    padding-top: 3rem;
}