body{
    font-family: $fontFamily;
}

.body-padding{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.button-center-container{
    display: flex;
    justify-content: center;
    .btn{
        width: 50%;
    }
}

a{
    color: black;
    &:hover{
        text-decoration: none;
        color: black;
    }
}

.btn-primary{
    @include primaryButton;
}
.btn-primary:not(:disabled):not(.disabled):active{
    @include primaryButton;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus{
    @include secondaryButton;
}

.btn-secondary{
    @include secondaryButton;
}

.text-muted{
    color: $primaryColorLighter!important;
}

.breadcrumb-container{
    padding-left: 0px;
}

.lazy-loaded-images{
    display: flex;
    flex-wrap: wrap;
    .eJMQfI{
        flex-basis: 20%;
        height: 100px;
        margin-bottom: 0.8rem;
    }
}
.lazyload-wrapper {
    .sc-dlfnbm{
        width:200px;
        height:100px;
        margin-right:10px;
        margin-bottom:10px;
    }
}

.breadcrumb{
    background-color: transparent;
    padding: .75rem 1rem 0rem 1rem;
    .breadcrumb-item{
        a{
            color: $faceColor;
        }
    }
    .breadcrumb-item.active{
        color: $primaryColor;
    }
}