body {
  font-family: $fontFamily;
}

img {
  max-width: 100%;
}

.align-center {
  align-items: center;
}

.foot-img{
  width: 72px;
  margin-bottom: 12px;
}

.ws-pl{
  white-space: pre-line;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.float-right.link a{
  line-height: 2.5rem;
  font-size: 18px;
}

.poster {
  width: 100%;
  padding-top: 140px;
  margin-bottom: 4rem;
  border-bottom: 1px solid #dcdcdc;
  img {
    height: 50vh;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  h1 {
    font-size: 4rem;
    color: #9f616a;
  }
  p {
    font-size: 1.1rem;
    font-weight: bolder;
    margin-top: 24px;
    color: #8f8f92;
    font-family: emoji;
  }
}

.edit-image {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-top: 8px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.edit-image + .edit-image {
  margin-left: 20px;
}

input.form-control {
  font-size: 24px;
  padding: 24px 20px;
  height: 60px;
  text-transform: capitalize;
}

textarea.form-control {
  font-size: 24px;
  padding: 24px 20px;
}

.custom-select {
  font-size: 24px;
  height: 60px;
  padding: 2px 12px;
  text-transform: capitalize;
}

.form-group label,
.image-selector h6 {
  font-size: 18px;
  font-weight: bold;
  color: #211e4f;
  margin-top: 20px;
}

.react-tag-input {
  font-size: 24px;
}

.submit {
  font-size: 20px;
  line-height: 60px;
  margin-top: 40px;
}

.body-padding {
  padding-top: 14rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button-center-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  .btn {
    width: 50%;
  }
}

.spinner-border {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.new-category-button {
  line-height: 48px;
  margin-top: 56px;
}

.btn-primary {
  @include primaryButton;
}
.btn-primary:not(:disabled):not(.disabled):active {
  @include primaryButton;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
  @include secondaryButton;
}

.btn-secondary {
  @include secondaryButton;
}

.text-muted {
  color: $primaryColorLighter !important;
  font-weight: 200;
  font-size: 18px;
  float: right;
}

.breadcrumb-container {
  padding-left: 0px;
}

.lazy-loaded-images {
  display: flex;
  flex-wrap: wrap;
  .eJMQfI {
    flex-basis: 20%;
    height: 100px;
    margin-bottom: 0.8rem;
  }
}
.lazyload-wrapper {
  .sc-dlfnbm {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 0.75rem 1rem 0rem 0rem;
  .breadcrumb-item {
    a {
      color: $faceColor;
    }
  }
  .breadcrumb-item.active {
    color: $primaryColor;
  }
}

.hide-elements {
  display: none;
}

.pagination {
  margin: 32px 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  li.page-item {
    margin: 5px;
    border: 1px solid #ccc;
    .page-link {
      color: #0e0e0f;
      margin-left: 0px;
    }
  }
  .hide-arrow {
    visibility: hidden;
  }
  .page-item:first-child .page-link {
    border-radius: 0px;
  }
  .page-link:focus {
    box-shadow: 0 0 0 0.1rem $primaryColor;
  }
  .page-item:last-child .page-link {
    border-radius: 0px;
  }
  li.page-item.active {
    color: $whiteColor;
    background-color: $primaryColor;
    font-weight: $fontWeight700;
    pointer-events: none;
    .page-link {
      background-color: $primaryColor;
      border-color: $primaryColor;
      color: $whiteColor;
    }
  }
}
