.header-logo{
    display: block;
    width: 4rem;
    height: 3rem;
    background-image: url(./logo512.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.parent-nav-section , .header {
    .container{
        display: flex;
        align-items: center;
    }
}

.container{
    display: flex;
}

.header{
    position: relative;
    z-index: 850;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: $headerBgColor;
    border-bottom: 1px solid #e4e5e7;
}

.logo-section{
    display: flex;
    align-items: center;
    width: 20%;
}

.nav-mid-section{
    width: 58%;
}

.nav-section{
    width: 22%;
    .connect-btn{
        border-radius: 4rem;
        padding: 0.625rem 1.875rem;
    }
    .post-btn{
        border-radius: 4rem;
        padding: 0.5rem 1.875rem;
    }
}
.dropdown{
    
    .dropdown-menu{
        top: -2px!important;
        left: -15px!important;
    }
    .dropdown-item{
        color: $primaryColor;
        padding-left: 1rem;
        &:hover{
            background-color: $faceColor;
            color: $whiteColor;
        }
    }

}
.nav-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    &.mid{
        li {
            margin-right: 1rem;
        }
    }
    .fa{
        font-size: 0.8rem;
        margin-left: 0.3rem;    
    }
    a{
        color:$secondaryColor;
        cursor: pointer;
        &.active-nav{
            span{color: $faceColor};
        }
        &:hover,&:active{
            color: $faceColor;
            text-decoration: none;
        }
        &:focus{
            color: $faceColor;
            text-decoration: none;
        }
    }
    .btn-success{
        color:$secondaryColor;
        background-color: transparent;
        border-color: transparent;
        border-radius: 0px;
        padding-left: 0px;
        border-bottom: 3px solid transparent;
        &:focus{
            box-shadow: none;
        }
    }
    .btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus{
        box-shadow: none;
    }
    .dropdown-toggle::after{
        border: none;
    }
    .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle{
        color: $faceColor;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 3px solid $faceColor;
    }
    .nav-item{
        margin-left: 1.4rem;
        cursor: pointer;
        color: $primaryColor;
    }
    .category-nav{
        margin-right: 2.4rem;
        font-weight: 700;
        cursor: pointer;
        a:hover{
            text-decoration: none;
        }
    }
}

.rotate{
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.collapse , .collapsing{
    div.nav-submenu{
        // transition: visibility 0s, opacity 0.5s linear;
        // visibility: hidden;
        opacity: 0;
    }
}

.collapse-content{
    &::before{
        display: block;
        content: "";
        bottom: 0px;
        height: 20rem;
        width: 100%;
        position: absolute;
        z-index: -1;
        pointer-events: none;
        box-shadow: #1c1c2861 0px 0px 1rem 0.25rem, #1c1c2861 0px 0px 0.125rem 0px;
    }
}

.collapse , .collapsing , .collapse.show{
    height: 0rem;
    width: 100%;
    left: 0px;
    top: 60px;
    display: flex;
    transition: height 1s ease;
    bottom: 0px;
    align-items: center;
    div.nav-submenu{
        margin-right: 2rem;
    }
    z-index: -1;
    position: absolute;
    background: rgb(255, 255, 255);
}

.collapse.show{
    height: 5rem;
    display: flex;
    div.nav-submenu{
        // visibility: visible;
        transition-delay: 90ms;
        opacity: 1;
        transition-duration: 600ms;
        transform: translateY(0px);
    }
}

.parent-nav-section{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #e4e5e7;
}
