.job-desctiption-page {
  h1 {
    font-size: 2.2rem;
    font-weight: lighter;
  }
  [class*="col-"] {
    div {
      margin-top: 1rem;
    }
  }
  .nav-tabs {
    border: 0;
  }
  .tab-content {
    box-shadow: #e6e6e6 0px 1px 18px 1px;
    padding: 20px;
    border-radius: 12px;
    .price {
      font-weight: bolder;
    }
    button {
      line-height: 38px;
      border-radius: 20px;
    }
  }
  .tab-content-header {
    .title {
      font-weight: lighter;
    }
  }
  .carousel-item {
    height: 24rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .job-title {
    color: $primaryColor;
    font-weight: $fontWeight700;
  }
  h4,
  h5 {
    color: $primaryColor;
    font-weight: $fontWeight700;
  }
  p {
    // color: $secondaryColor;
    color: #7d7d96;
    margin: 2rem 0;
  }
  .fa-clock-o {
    margin-right: 1%;
  }
  .customer-data {
    .customer-image {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    .customer-name {
      margin-left: 1rem;
      font-weight: 700;
      font-size: 14px;
      color: $primaryColor;
      &:hover {
        color: $faceColor;
      }
    }
  }
  .job-details {
    .job-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .badge.badge-pill {
      margin-right: 1rem;
      background-color: $faceColor1;
      color: $whiteColor;
      padding: 10px 20px;
    }
  }

  .delete-job {
    border: 0.125rem solid #211e4f;
    margin-left: 10%;
  }

  .description-action-buttons {
    display: flex;
    align-items: flex-end;
    Button {
      width: 45%;
    }
  }
}
