.job-desctiption-page{
    width: 100%;
    [class*='col-'] {
        div{ 
            margin-top: 1rem;
        }
    }
    .customer-data{
        .customer-image{
            img{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
            }
        }
        .customer-name{
            margin-left: 1rem;
            font-weight: 700;
        }
    }
    .job-details{
        .job-image{
            img{
                width: 100%;
            }
        }
        .badge.badge-pill{
            margin-right: 1rem;
        }
    }
    
}