.nav-tabs{
    .nav-link{
        font-weight: 700;
        background-color: #fafafa;
        color: #7a7d85;
        border: 1px solid #dadbdd!important;      
        border-top-left-radius: 0px!important;
        border-top-right-radius: 0px!important;
        padding: 0.5rem 1.65rem;
    }
    .nav-link.active{
        color: #1dbf73!important;
        border-bottom: 3px solid #1dbf73!important;
    }
}

.tab-content{
    margin-top: 0px!important;
    border: 1px solid #dadbdd;
    padding: 0px 20px;
    .tab-content-header{
        .title{
            .price{
                float: right;
            }
        }
        .short-desc{
            span{
                margin-right: 1rem;
            }
        }
    } 
    .tab-content-body{
        margin-bottom: 1rem;
        .user-feature{
            li:before{
                font-family: 'FontAwesome';
                content: "\f00c";
                color: green;
                margin-right: 10px;
            }
        }
    }  
}