.nav-tabs{
    .nav-link{
        font-weight: 700;
        background-color: $footerFontColor;
        color: rgb(102, 102, 115);    
        border-top-left-radius: 0px!important;
        border-top-right-radius: 0px!important;
        padding: 0.5rem 1.595rem;
    }
    .nav-link.active{
        color: $whiteColor!important;
        background-color: $faceColor!important;
    }
}

.tab-content{
    margin-top: 0px!important;
    margin-bottom: 1rem;
    border: 1px solid #dadbdd;
    padding: 0px 20px;
    .tab-content-header{
        .title{
            .price{
                float: right;
            }
        }
        .short-desc{
            span{
                margin-right: 1rem;
            }
        }
    } 
    .tab-content-body{
        margin-bottom: 1rem;
        .user-feature{
            li:before{
                font-family: 'FontAwesome';
                content: "\f00c";
                color: green;
                margin-right: 10px;
            }
        }
    }  
}