$fontFamily:'GT Flexa Variable', 'GT Flexa', sans-serif;

$primaryColor:rgb(33, 30, 79);
$secondaryColor:rgb(84, 84, 114);
$whiteColor:rgb(255, 255, 255);
$faceColor:rgb(90, 76, 219);

$faceColorlighter:rgb(122, 110, 229);
$primaryColorLighter:rgb(43, 41, 138);
$primaryColorLighter1:rgba(43, 41, 138, 0.4);



// Footer and Header
$headerBgColor:rgb(255, 255, 255);
$footerBgColor:rgb(21, 20, 53);
$footerFontColor:rgb(234, 234, 250);
$footerLinkHover:rgb(200, 116, 217);






$fontWeight500:500;
$fontWeight700:700;